body {
  background-color: #91f2e9;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}

header {
  background-color: #2a8c82;
  color: aliceblue;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

#assuntos,
nav {
  background-color: #275950;
  border-radius: 6px;
  box-shadow: 3px 3px 2px #0000006b;
  padding: 3px;
  font-weight: bold;
  text-align: center;
}

nav > a {
  text-decoration: none;
  color: aliceblue;
  margin-right: 80px;
}

nav > a:hover {
  color: #41bfb3;
}

main {
  background-color: #41bfb3;
  padding: 10px;
  margin: 20px 20px 40px 20px;
  border-radius: 10px;
}

#assuntos {
  background-color: #2a8c82;
  margin-bottom: 26px;
}
#assuntos > a {
  margin: 55px;
  text-decoration: none;
  color: aliceblue;
}

#assuntos > a:hover {
  color: #41bfb3;
}

article {
  background-color: aliceblue;
  padding: 10px;
  margin: 20px;
  border-radius: 6px 80px 40px 40px;
  box-shadow: 3px 3px 2px #33958b;
}

article > p {
  text-align: justify;
  margin: 0 30px 30px 30px;
}

article > aside {
  color: #275950;
  font-style: italic;
  padding: 5px;
  margin: 5px;
}

footer {
  background-color: #275950;
  color: aliceblue;
  text-align: center;
  padding: 4px;
  font-style: italic;
}

footer > p {
  margin: 0px;
}
